.Keepitem {
  /* max-width: 300px; */
  color: white;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 0.9rem;
  /* min-height: 170px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* overflow: auto; */
  /* padding-top: 10px; */
  /* min-width: 350px; */
  position: relative;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  align-items: center;
  width: 55vw;
  margin: 2px auto;
  transition: all 1.5s;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.Keepitemamt {
  color: aquamarine;
  background-color: black;
  border: 3px solid white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 30px;
  width: fit-content;
}
.Keepitemtitle {
  margin: 10px 40px;
  color: rgb(87, 87, 87);
}
