.Header {
  background-color: #393232;
  color: beige;
  height: 10vh;
  padding: 50px auto;
  /* display: flex; */
  text-align: center;
}
.Header h2 {
  display: inline-block;
  margin: 15px auto;
  /* margin-right: auto; */
  /* margin-left: 2vw; */
  /* margin: 2vh auto auto 2vw; */
}
