.Card {
  background-image: linear-gradient(to bottom right, #70e1f5, #ffd194);
  color: grey;
  border-radius: 20px;
  margin: 3vh auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.384);
  /* width: fit-content; */
  padding: 2vh 5vw;
  text-align: center;
  min-height: fit-content;
  transition-property: all;
  transition-duration: 1s;
}
