.Keeped {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  color: black;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin: 0px auto;
  width: 75vw;

  border-radius: 20px;
}
.Keeped h1 {
  margin-top: 20px;
}
